<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css" rel="stylesheet" type="text/css" />
  <title>login</title>
</head>
<body>

  <div class="justify-center flex mt-40 ml-4 mr-4">
  <form id="login-form" class="form">
  <div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Login</h2><br>
      <div class="form-control w-full max-w-xs">
        <input id="username-login" type="text" placeholder="Username" class="place-self-center text-neutral input input-bordered input-primary w-64 max-w-xs mb-4" autofocus="true" />
        <input id="password-login" type="text" placeholder="Password" class="place-self-center text-neutral input input-bordered input-primary w-64 max-w-xs mb-4" autofocus="true"/>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-wide btn-active hover:bg-primary" type="submit">Sign in</button>
      </div>
      <a class ="underline"  href="/signup">Sign up now!</a>
    </div>
  </div>
  </form>
</div>

  <script src="/js/login.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
