
<div class="justify-center flex mt-40 ml-4 mr-4">
  <form id="login-form" class="form">
  <div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Login</h2><br>
      <div class="form-control w-full max-w-xs">
        <input id="username-login" type="text" placeholder="Username" class="place-self-center text-neutral input input-bordered input-primary w-64 max-w-xs mb-4" autofocus="true" />
        <input id="password-login" type="text" placeholder="Password" class="place-self-center text-neutral input input-bordered input-primary w-64 max-w-xs mb-4" autofocus="true"/>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-wide btn-active hover:bg-primary" type="submit">Sign in</button>
      </div>
      <a class ="underline"  href="/signup">Sign up now!</a>
    </div>
  </div>
  </form>
</div>

  <script src="/js/login.js"></script>

