
<div class="justify-center flex login-container">
  <div class="card bg-neutral text-neutral-content login-card">
    <h2 class="login-header">
      Login
    </h2>
    <p class="login-subheader">
      Please enter your login credentials to enter the site, or click the sign up button below if you haven't registered an account with us yet.
    </p>
    <form class="login-form-wrap" id="login-form">
      <div class="form-control w-full max-w-xs">
        <input id="username-login" type="username" placeholder="Enter your username" class="place-self-center text-primary-content input input-bordered input-primary w-64 max-w-xs mb-4" autofocus="true" value="username"/>
        <input id="password-login" type="password" placeholder="Enter your password" class="place-self-center text-primary-content input input-bordered input-primary w-64 max-w-xs mb-4" autofocus="true"/>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-wide btn-active hover:bg-primary signin-button" type="submit">
          Sign in
        </button>
      </div>
    </form>
    <a class ="underline"  href="/signup">
      Sign up now!
    </a>
  </div>
</div>

<script src="/js/login.js"></script>