
  <div class="justify-center flex mt-96">
  <div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Login</h2>
      <p>Please login to your account</p><br>
      <div class="form-control w-full max-w-xs">
        <input id="username-login" type="text" placeholder="Username" class="text-neutral input input-bordered input-primary w-full max-w-xs mb-4" autofocus="true" />
        <input id="password-login" type="text" placeholder="Password" class="text-neutral input input-bordered input-primary w-full max-w-xs mb-4" autofocus="true"/>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Sign in</button>
        <a class="btn btn-primary" href="/signup">Sign up</a>
      </div>
    </div>
  </div>
</div>

  <script src="/js/login.js"></script>


