
<div class="flex flex-col w-full lg:flex-row">
    
    <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <div>
                    <h3 class="card-title mb-8" style="font-size:28px">Current Projects</h3>
                    {{#if projects.length}}
                    <div class="overflow-x-auto">
                      <table class="table w-full">
                        <!-- head -->
                        <thead>
                          <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        {{#each projects as |project|}}
                        <tbody>
                          <tr class="hover">
                            <th>{{project.id}}</th>
                            <td><a href="/project/{{project.id}}" class="basis-3/4">{{project.name}}</a></td>
                            <td><button class="basis-1/4 project-list">Delete</button></td>
                          </tr>
                        </tbody>
                        {{/each}}
                      </table>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="divider">  </div> 

    <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
        
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
            <h2 class="card-title" style="font-size:28px">Create a new Project</h2>
            <form class="form-control w-full max-w-xs new-project-form">
                <label class="label" for="new-project-name">
                    <span class="label-text">Project Name</span>
                </label>
                <input  id="new-project-name" type="text" placeholder="Name of your project" class="input input-bordered text-primary-content input-primary w-full max-w-xs" />
                <label class="label" for="new-project-description">
                    <span class="label-text">Description</span>
                </label>
                <textarea id="new-project-description" height="50px" class="textarea text-primary-content textarea-primary" placeholder="Short description of your project"></textarea>
        
            <div class="card-actions justify-center">
                <button class="btn btn-primary btn-active hover:bg-primary mt-4" type="submit">Create Project</button><br>
            </div>
            </form>  
            </div>
        </div>

    </div>

</div>

<script src="/js/profile.js"></script>