<h2 class="card-title">This Project Name</h2>
<div class="flex flex-col w-full lg:flex-row">
  
  <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
    
    <div class="card w-96 bg-base-100 shadow-xl project-list">
      <h2 class="card-title">Timer</h2>
      <div id="timer">
        00:00:00
      </div>
      <ul>
        <li><button class="btn btn-outline btn-primary" onclick="startTimer()">Start</button></li>
        <li><button class="btn btn-outline btn-secondary" onclick="stopTimer()">Stop</button></li>
        <li><button class="btn btn-outline btn-accent" onclick="resetTimer()">Reset</button></li>
      </ul>
      <div class="card-actions justify-center">
        <button class="btn btn-primary" type="submit">Log Time</button>
      </div>

      <div class="form-control">
        <div class="input-group">
          <input type="text" placeholder="How often should you take a break?" class="input input-bordered input-primary w-full max-w-xs" id="break-input"/>
          <button class="btn btn-square" onclick="startTimer()">Submit</button>
        </div>
      </div>

      <div class="stats bg-primary text-primary-content">
        <div class="stat">
          <div class="stat-title">Hours Logged</div>
          <div class="stat-value">2.4</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-success">-</button>
          </div>
        </div>
      
        <div class="stat">
          <div class="stat-title">Current Charge</div>
          <div class="stat-value">$89,400</div>
          <div class="stat-actions">
            <button class="btn btn-sm">Complete</button> 
          </div>
      </div>

<div class="modal" id="my-modal-2">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Time for a break!</h3>
    <p class="py-4">Here are some exercises for you</p>
    <div class="modal-action">
     <a href="#" class="btn" onclick="startTimer()">Keep Coding</a>
    </div>
  </div>
</div>







  
</div>


      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <div class="collapse-title text-xl font-medium">
          Name of first node module
        </div>
        <div class="collapse-content text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"> 
          <p>Install command</p>
          <p>Link to</p>
        </div>
      </div>
    
    </div>

  </div>
  <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
         
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
      <h2 class="card-title">Add node module</h2>    
        <form class="form-control w-full max-w-xs new-project-form">
          <label class="label" for="new-module-name">
            <span class="label-text">Module name</span>
          </label>
          <input type="text" placeholder="enter the name of the module" class="input input-bordered w-full max-w-xs" id="new-module-name"/>
          <label class="label" for="new-module-install">
            <span class="label-text">Install command</span>
          </label>
          <input type="text" placeholder="enter the command to install the module" class="input input-bordered w-full max-w-xs" id="new-module-install"/>
          <label class="label" for="new-module-docs">
            <span class="label-text">Documentation link</span>
          </label>
          <input type="text" placeholder="enter the link to this module's docs" class="input input-bordered w-full max-w-xs" id="new-module-docs"/>
        </form>    
        <div class="card-actions justify-center">
            <button class="btn btn-primary" type="submit">Add Module</button>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="/js/timer.js"></script>
<script src="https://cdn.tailwindcss.com"></script>