<div class="modal-container"  id="modal-container">
  <div class="modal-card w-6/12">
  {{> activities}}
  <div  class="flex justify-center w-full mt-8">
    <button class="btn btn-primary text-primary-content" id="continue">
      Continue Coding
    </button>
    </div>
  </div>

</div>


<h2 class="card-title">This Project Name</h2>
<div class="flex flex-col w-full lg:flex-row">
  
  <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
    
    <div class="card w-96 bg-base-100 shadow-xl project-list flex justify-center">
      <h2 class="card-title">Timer</h2>
      <div id="timer">
        00:00:00
      </div>


      <div class="form-control">
        <div class="input-group">
          <input type="text" placeholder="How often should you take a break?" class="input input-bordered input-primary w-full max-w-xs" id="break-input"/>
        </div>
      </div>
      <div class="form-control">
        <div class="input-group">
          <input type="text" placeholder="How often should you take a break?" class="input input-bordered input-primary w-full max-w-xs" id="rate-input"/>
        </div>
      </div>
      <button class="btn btn-square" onclick="startTimer()">Start Timer</button>



      <div class="stats bg-primary text-primary-content">
        <div class="stat">
          <div class="stat-title">Time Logged</div>
          <div class="stat-value">
            <div id="total-time">
              <p id="hour-total">0</p><p>:</p>
              <p id="minute-total">0</p><p>:</p>
              <p id="second-total">0</p>
            </div>
          </div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-success" id="save-time">Save Time and Wage</button>
          </div>
        </div>
      
        <div class="stat">
          <div class="stat-title">Current Charge</div>
          <div class="flex flex-row">
            <div class="stat-value">$<p id="earned-wage">{{this.wage}}</p></div>
          </div>
      </div>
  
</div>


      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <div class="collapse-title text-xl font-medium">
          Name of first node module
        </div>
        <div class="collapse-content text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"> 
          <p>Install command</p>
          <p>Link to</p>
        </div>
      </div>
    
    </div>

  </div>
  <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
         
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
      <h2 class="card-title">Add node module</h2>    
        <form class="form-control w-full max-w-xs new-project-form">
          <label class="label" for="new-module-name">
            <span class="label-text">Module name</span>
          </label>
          <input type="text" placeholder="enter the name of the module" class="input input-bordered w-full max-w-xs" id="new-module-name"/>
          <label class="label" for="new-module-install">
            <span class="label-text">Install command</span>
          </label>
          <input type="text" placeholder="enter the command to install the module" class="input input-bordered w-full max-w-xs" id="new-module-install"/>
          <label class="label" for="new-module-docs">
            <span class="label-text">Documentation link</span>
          </label>
          <input type="text" placeholder="enter the link to this module's docs" class="input input-bordered w-full max-w-xs" id="new-module-docs"/>
        </form>    
        <div class="card-actions justify-center">
            <button class="btn btn-primary" type="submit">Add Module</button>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="/js/project.js"></script>
<script src="/js/updateWage.js"></script>
<script src="https://cdn.tailwindcss.com"></script>