@media screen and (max-width: 1070px) {
    .about-header {
        height: 160px;
        margin: 32px 16px 32px 16px;
    }
}

@media screen and (max-width: 1040px) {
    .info-card-body {
        padding: 20px 0 20px 20px;
    }
    .card-image {
        border-radius: 1em 0 0 1em;
        max-height: 200px;
    }
}

@media screen and (max-width: 935px) {
    .about-header {
        height: 180px;
    }
    .profile-cards-wrap {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .card-container {
        width: 90%;
        max-width: 450px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        margin: 10px 20px 10px 20px;
        min-width: 325px;
    }
    .card-body {
        width: 80%;
        margin: 20px 30px;
        border-radius: 30px;
        padding: 0;
    }
}

@media screen and (max-width: 845px) {
    .about-header {
        height: 200px;
    }
    .about-paragraph {
        padding: 35px 40px 0 20px;
    }
}

@media screen and (max-width: 770px) {
    .about-header {
        height: 220px;
    }
}

@media screen and (max-width: 710px) {
    .about-header {
        height: 240px;
    }
    .code-container {
        flex-direction: column;
    }
    .rendered-code {
        width: 90%;
        height: 400px;
        min-height: 0;
    }
}

@media screen and (max-width: 670px) {
    .about-header {
        height: 260px;
    }
    .about-paragraph {
        padding: 30px 40px 0 20px;
    }
    #profile {
        width: 100px;
        font-size: 12px;
    }
    #logout {
        width: 100px;
        font-size: 12px;      
    }
}

@media screen and (max-width: 645px) {
    .about-header {
        height: 260px;
    }
    .about-paragraph {
        padding: 30px 40px 0 0px;
    }
}

@media screen and (max-width: 610px) {
    .hero-title {
        font-size: 44px;
    }
    .hero-info {
        font-size: 24px;
    }
    .card-image {
        border-radius: 0;
    }
}

@media screen and (max-width: 595px) {
    .about-header {
        height: 320px;
    }
    #profile {
        margin: 0 5px;
    }
    #logout {
        margin: 0 5px;     
    }
}

@media screen and (max-width: 530px) {
    .about-header {
        height: 360px;
        margin: 32px 8px 32px 8px;
    }
    .about-paragraph {
        padding: 30px 40px 0 10px;
    }
    .project-summary {
        display: none;
    }
}

@media screen and (max-width: 510px) {
    .hero-title {
        font-size: 36px;
    }
    .card-image {
        display: none;
    }
    .about-wrap {
        display: flex;
        flex-direction: column;
    }
    .about-header {
        height: 80px;
        width: 90%;
        margin: 0 auto;
        border-bottom: 3px solid;
        border-right: none;
    }
    .about-paragraph {
        padding: 20px 40px 20px 40px;
    }
    #gitLogo {
        margin: 0 0 0 10px;
    }
    #profile {
        width: 80px;
    }
    #logout {
        width: 80px;
    }
    .login-card {
        width: 80%;
    }
    .timer-card-wrap {
        width: 90%;
    }
    #save-time {
        width: 130px;
        font-size: 10px;
    }
    .stat-value {
        font-size: 30px;
    }
    #denomination {
        font-size: 28px;
    }
    #earned-wage {
        font-size: 28px;
    }
    .stat {
        padding: 12px 15px 12px 6px;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .hero-title {
        font-size: 32px;
    }
    .hero-info {
        font-size: 22px;
    }
    .code-cards-outer {
        margin: 0 0 0 0;
    }
    .stats {
        display: flex;
        flex-direction: column;
    }
    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 0;
    }
    #save-time {
        width: 200px;
        font-size: 16px;
    }
    .stat-value {
        font-size: 36px;
    }
    #denomination {
        font-size: 36px;
    }
    #earned-wage {
        font-size: 36px;
    }
}

@media screen and (max-width: 400px) {
    .hero-title {
        font-size: 28px;
    }
    .hero-info {
        font-size: 18px;
    }
    .about-paragraph {
        padding: 20px 20px 20px 20px;
    }
    #gitLogo {
        margin: 0 0 0 0;
        width: 75px;
    }
    #profile {
        width: 70px;
    }
    #logout {
        width: 70px;
    }
    .card-body {
        margin: 20px 15px;
    }
    .card-container {
        margin: 10px 10px;
        min-width: 0;
    }
    #timer {
        font-size: 40px;
    }
}

@media screen and (max-width: 350px) {
    .hero-title {
        font-size: 22px;
    }
    .hero-info {
        font-size: 16px;
    }
    #profile {
        width: 50px;
        font-size: 10px;
    }
    #logout {
        width: 50px;
        font-size: 10px;
    }
    .code-cards-outer {
        width: 90%;
        min-width: 250px;
        padding: 0 5px;
    }
    .rendered-code {
        min-width: 0;
    }
    #username-login {
        width: 100%;
    }
    #password-login {
        width: 100%;
    }
    #username-signup {
        width: 100%;
    }
    #password-signup {
        width: 100%;
    }
    .signin-button {
        width: 100%;
    }
    .code-title {
        max-width: 150px;
        overflow: scroll;
    }
    #timer {
        font-size: 30px;
    }
    #break-input {
        width: 90%;
        align-self: center;
    }
    #rate-input {
        width: 90%;
        align-self: center;
    }
    .stat-actions {
        margin: 10px 0 0 0;
        display: flex;
        justify-content: center;
        width: 100%;    
    }
    #save-time {
        width: 90%;
        font-size: 14px;
    }
}