#gitLogo {
    border-radius: 150px;
    width: 100px;
    margin: 0 0 0 30px;
}

/* -- */
/* -- */
/* Hero */
.hero-content-wrap {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
}
.hero-title {
    font-size: 50px;
}
.hero-info {
    font-size: 30px; 
    height: 20px; 
    width: 70%;
}
.info-button {
    margin: 20px 0 0 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 500;
}

#animateMe {
    color: #fff;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Khula", sans-serif;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    pointer-events: none;
}


.modal-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba( 0, 0, 0, 0.3);
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 2;
}
.modal-container.show {
    pointer-events: auto;
    opacity: 1;
    display: flex;
}
.modal-card {
    background-color: rgba(65, 69, 185, 0.481);
    width: 600px;
    height: 750px;
    max-width: 100%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modal-card h1 {
    font-size: 16px;
}


#total-time {
    display: flex;
}


.rendered-code {
    justify-content: center;
    min-height: 600px;
    width: 900px;
    margin: 20px;
}

.info-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-card {
    width: 90%;
    max-width: 1010px;
    margin: 20px auto 0 auto;
    padding: 0 20px 0 0;
    flex-direction: row;
    align-items: center;
}
.info-card-body {
    padding: 10px 10px 10px 40px;
}
.info-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px 10px 10px;
}

/* -- */
/* -- */
/* About */
.about-wrap {
    display: flex;
    flex-direction: row;
}
.about-header {
    height: 160px;
    margin: 32px 16px 32px 16px;
    font-size: 30px;
    font-weight: bold;
    border-right: 2px solid;
    padding: 20px;
}
.about-paragraph {
    padding: 40px 40px 0 20px;
}








/* -- */
/* -- */
/* Profile */
/* -- */
/* -- */
.profile-wrap {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.card-container {
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: 0 20px;
    min-width: 325px;
}
.card-body {
    width: 80%;
    margin: 20px 30px;
    border-radius: 30px;
    padding: 0;
}
.chart {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* -- */
/* -- */
/* Code Snippets */
/* -- */
/* -- */
.code-container {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.code-cards-outer {
    min-width: 400px;
    height: fit-content;
    margin: 0 0 0 20px;
    border-radius: 20px;
}
.code-cards-inner {
    border-radius: 20px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-code-button {
    margin: 10px 0 0 0;
}