#gitlogo {
    border: 1em;
}

<<<<<<< HEAD
.modal-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba( 0, 0, 0, 0.3);
    ponter-events: none;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
    display: flex;
}

.modal-card {
=======
#homepageImage {
    width: 100%;
    height: 100%;
}

#animateMe {
    color: #fff;
    font-weight: 800;
    font-size: 5vw;
>>>>>>> 5776d376f351146f6cc997d2e2244bd308520f4b
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
<<<<<<< HEAD
    background-color: white;
    width: 600px;
    height: 300px;
    max-width: 100%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-card h1 {
    font-size: 16px;
}

#total-time {
    display: flex;
}
=======
    font-family: "Khula", sans-serif;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
  }

>>>>>>> 5776d376f351146f6cc997d2e2244bd308520f4b
